result
system/firmware/BT_RAM_CODE_MT6639_2_1_hdr.bin
system/firmware/WIFI_MT6639_PATCH_MCU_2_1_hdr.bin
system/firmware/WIFI_RAM_CODE_MT6639_2_1.bin
system/firmware/mtkbt.dat
system/firmware/asus-bt-driver.zip
system/firmware/asus-wifi-driver.zip
