    layout {
        gaps 12 // Gap between full-screen workflow cards
        center-focused-column "always"

        background-color "transparent" // needed for Noctalia to set the wallpaper

        preset-column-widths {
            proportion 1.0
            proportion 0.66667
            proportion 0.5
            proportion 0.33333
        }

        default-column-width { proportion 1.0; }
        always-center-single-column

        struts {}
    }
